/*
 * Styles added for Four Ferries by Petri Salmela
 */

/****** colors ***********/
.color_red {color: #a00;}
.color_blue {color: #00a;}
.color_green {color: #0a0;}
.color_violet {color: #a0a;}
.color_black {color: #000;}
.color_orange {color: #ff8000;}